<template>
  <div class="home">
    <PrimaryForm />
  </div>
</template>

<script>
import PrimaryForm from "@/components/PrimaryForm.vue";

export default {
  name: "Home",
  components: {
    PrimaryForm
  }
};
</script>
