<template>
  <div>
    <SecondryForm />
  </div>
</template>

<script>
import SecondryForm from "@/components/SecondryForm.vue";

export default {
  name: "SecondryPassenger",
  components: {
    SecondryForm
  }
};
</script>
