<template>
  <div class="success-card">
    <h2 class="fs-title text-center">Success !</h2>
    <br /><br />
    <div class="row justify-content-center">
      <div class="col-3">
        <img
          src="https://img.icons8.com/color/96/000000/ok--v2.png"
          class="fit-image"
        />
      </div>
    </div>
    <br /><br />
    <div class="row justify-content-center">
      <div class="col-7 text-center">
        <h5>Your Flight Reservation Placed successfully.</h5>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "success"
};
</script>
<style lang="scss" scoped>
.success-card {
  width: 80%;
  margin: 10% auto;
  padding: 50px;
  background: #fff;
}
</style>
