<template>
  <div class="primary-form">
    <div class="app-title">
      <h1>FlightRight</h1>
    </div>
    <div class="container">
      <div v-if="!loaded" class="holder">
        <div class="preloader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <form v-if="loaded" action="" method="post" @submit.prevent="submit">
        <div class="title">
          <p class="step-icon"><span>First Step</span></p>
          <span class="step-text">Personal Information</span>
        </div>
        <div class="clearfix"></div>
        <h2 class="text-left">Personal Information.</h2>
        <div class="row text-left mt-md-5">
          <div class="col-md-6">
            <div class="form-group" :class="{ invalid: $v.name.$error }">
              <label for="name">Full Name</label>
              <input
                class="form-control"
                type="text"
                v-model.trim.lazy="$v.name.$model"
                @blur="$v.name.$touch()"
                id="name"
                required
              />
              <p v-if="$v.name.$error" class="text-danger">
                Name must have at least
                {{ $v.name.$params.minLength.min }} letters.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ invalid: $v.age.$error }">
              <label for="age">Age</label>
              <input
                class="form-control"
                type="number"
                v-model.trim.lazy="$v.age.$model"
                @blur="$v.age.$touch()"
                id="age"
                required
              />
              <p v-if="!$v.age.minVal" class="text-danger">
                You have to be at least {{ $v.age.$params.minVal.min }} years
                old.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ invalid: $v.email.$error }">
              <label for="email">Email</label>
              <input
                class="form-control"
                type="email"
                v-model="email"
                @blur="$v.email.$touch()"
                id="email"
              />
              <p v-if="$v.email.$error" class="text-danger">
                Please insert a Valid email address.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ invalid: $v.phone.$error }">
              <label for="phone">Phone Number </label>
              <input
                class="form-control"
                type="tel"
                v-model="phone"
                @blur="$v.phone.$touch()"
                id="phone"
                required
              />
              <p v-if="$v.phone.$error" class="text-danger">
                Please insert a Valid Phone Number.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="country">Country</label>
              <select name="country" id="country" class="form-control" required>
                <option value="Germany">Germany</option>
                <option value="Italy">Italy</option>
                <option value="England">England</option>
                <option value="Egypt">Egypt</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" :class="{ invalid: $v.zip.$error }">
              <label for="zip">Index/Zip</label>
              <input
                class="form-control"
                type="number"
                v-model="zip"
                @blur="$v.zip.$touch()"
                id="zip"
                required
              />
              <p v-if="$v.zip.$error" class="text-danger">
                This field can't be empty.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ invalid: $v.street.$error }">
              <label for="street">Street</label>
              <input
                class="form-control"
                type="text"
                v-model="street"
                @blur="$v.street.$touch()"
                id="street"
                required
              />
              <p v-if="$v.street.$error" class="text-danger">
                This field can't be empty.
              </p>
            </div>
          </div>
        </div>
        <div class="action text-right">
          <button
            class="btn btn-primary"
            type="submit"
            :disabled="submitStatus === 'PENDING'"
          >
            Next
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
// i have used vuelidate package to validate the form inputs
import {
  required,
  email,
  numeric,
  minValue,
  minLength
} from "vuelidate/lib/validators";
export default {
  name: "PrimaryForm",
  data() {
    return {
      email: "",
      age: null,
      password: "",
      name: "",
      phone: null,
      zip: null,
      street: "",
      submitStatus: null,
      loaded: false
    };
  },
  validations: {
    name: {
      required,
      minLength: minLength(4)
    },
    email: {
      required,
      email
    },
    age: {
      required,
      numeric,
      minVal: minValue(18)
    },
    phone: {
      required,
      numeric
    },
    zip: {
      required
    },
    street: {
      required
    }
  },
  created: function() {
    // stop preloader after 3 seconds or whatever we want
    setTimeout(() => {
      this.loaded = true;
    }, 3000);
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
        // we can handle submition here
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
          this.$router.push("/SecondryPassenger");
        }, 500);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
// preloader style
$count: 10;
$time: 2; //in seconds
$size: 100;
$color: #ffffff;

.holder {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #2d2f48;
}

.preloader {
  /* size */
  width: $size + px;
  height: $size + px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: rotatePreloader $time + s infinite ease-in;
}
@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}
.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 10%;
  height: 10%;
  background-color: $color;
  transform: translateX(-50%);
  border-radius: 50%;
}

@for $i from 1 through $count {
  .preloader div:nth-child(#{$i}) {
    transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
    animation: rotateCircle + $i $time + s infinite linear;
    z-index: $count - $i;
  }
  @keyframes rotateCircle#{$i} {
    #{percentage(((50 / $count) * ($i - 1)) / 100)} {
      opacity: 0;
    }
    #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
      opacity: 1;
      transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
    }
    #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }
    #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }
    100% {
      transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
      opacity: 1;
    }
  }
}
</style>
