<template>
  <div class="primary-form">
    <div class="app-title">
      <h1>FlightRight</h1>
    </div>
    <div class="container">
      <form action="" method="post" @submit.prevent="submit">
        <div class="title">
          <p class="step-icon"><span>First Step</span></p>
          <span class="step-text">Other Passengers</span>
        </div>
        <div class="clearfix"></div>
        <h2 class="text-left">Other Information.</h2>
        <div
          class="row text-left mt-md-5"
          v-for="(v, index) in $v.people.$each.$iter"
          v-bind:key="index"
        >
          <div class="col-md-6">
            <div class="form-group" :class="{ invalid: v.name.$error }">
              <label for="name">Full Name</label>
              <input
                class="form-control"
                type="text"
                v-model.trim.lazy="v.name.$model"
                @blur="v.name.$touch()"
                id="name"
                required
              />
              <p v-if="v.name.$error" class="text-danger">
                Name must have at least
                {{ v.name.$params.minLength.min }} letters.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ invalid: v.age.$error }">
              <label for="age">Age</label>
              <input
                class="form-control"
                type="number"
                v-model.trim.lazy="v.age.$model"
                @blur="v.age.$touch()"
                id="age"
                required
              />
              <p v-if="!v.age.minVal" class="text-danger">
                You have to be at least {{ v.age.$params.minVal.min }} years
                old.
              </p>
            </div>
          </div>
        </div>
        <div class="text-left p-3">
          <button class="btn" @click="people.push({ name: '', age: null })">
            Add
          </button>
          <button
            v-if="people.length > 1"
            class="btn btn-warning ml-2"
            @click="people.pop()"
          >
            Remove
          </button>
        </div>
        <div class="action text-right p-3">
          <button
            class="btn"
            type="submit"
            :disabled="submitStatus === 'PENDING'"
          >
            Submit
          </button>
          <button class="btn ml-2" type="button" @click="back()">
            Back
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import {
  required,
  numeric,
  minValue,
  minLength
} from "vuelidate/lib/validators";
export default {
  name: "SecondryForm",
  data() {
    return {
      people: [
        {
          name: "",
          age: null
        }
      ],
      submitStatus: null
    };
  },
  validations: {
    people: {
      required,
      minLength: minLength(1),
      $each: {
        name: {
          required,
          minLength: minLength(2)
        },
        age: {
          required,
          numeric,
          minVal: minValue(18)
        }
      }
    }
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
          this.$router.push("/success");
        }, 500);
      }
    },
    back() {
      this.$router.go(-1);
    }
  }
};
</script>
