
@font-face {
    font-family: "Lobster";
    src: url("https://fonts.googleapis.com/css?family=Lobster&display=swap")
}

body {
    background: #383a4f !important;
    width: 100%;
}
* {
    font-family: Lobster, Helvetica, sans-serif;
}
.app-title {
    h1 {
        color: #fff;
        font-family: Lobster;
        font-size: 3em;
        text-shadow: 2px 2px #a7a9c3;
    }
}