@import "global";

.primary-form {
    padding: 50px;
@media screen and(max-width:600px) {
    padding: 10px;
}
    .title {
        width: 100%;
        text-align: center;
        background: #fff;

        .step-icon {
            width: 30%;
            color: #fff;
            background: #55e8d5;
            display: inline-block;
            float: left;
            padding: 15px;
            font-size: 1.4em;
            &:after{
                clear: both;
            }
            @media screen and(max-width:600px) {
                width: 100%;
                padding: 10px;
                font-size: 1em;
                margin-bottom: 0;
            }
            
        }

        .step-text {
            color: #000;
            padding: 15px;
            font-size: 1.4em;
            display: inline-block;
            @media screen and(max-width:600px) {
                width: 100%;
                padding: 10px;
                font-size: 1em;
            }
        }
    }

    h2{
        color: #fff;
    padding: 10px;
    font-weight: 600;
    @media screen and(max-width:600px){
        font-size: 1.2em;
    }
    }
    form {
        .invalid input {
            border: 1px solid #dc3545;
        }

        background:#525575;
        padding: 16px;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        margin-top: 16px;
        border-radius: 16px;

        .form-group {
            label {
                color: #fff;
            }
        }

        button {
            width: 80px;
            background: #55e8d5;
            color: #fff;
        }
        .btn-warning{background: #ffc107;}
    }
}